@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
:root {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: rgb(60, 64, 67);
    background-color: #383838;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.title{
    text-align: center;
    padding: 0;
    margin: 0;
}
a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 500px;
    min-height: 100vh;
    justify-content: center;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

.container {
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f5f5f5;
    min-width: 800px;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-label {
    margin-right: 10px;
    font-size: 14px;
}

.input-text {
    flex: 1;
    padding: 10px;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
textarea:focus,
input:focus {
    outline: none;
}
.translate-button {
    padding: 10px 20px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.copy {
    background-color: #e0bf00;
    color: black;
}

.language-selectors {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.language-label {
    padding: 10px;
}

select {
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 20em;
    height: 3em;
    padding: 0 4em 0 1em;
    color: rgb(0, 0, 0);
    border-radius: 0.25em;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    /* <option> colors */
    option {
        color: inherit;
    }
    /* Remove focus outline */
    &:focus {
        outline: none;
    }
    /* Remove IE arrow */
    &::-ms-expand {
        display: none;
    }
}

textarea {
    font-family: "Roboto", sans-serif;
    height: 100px;
}

.banner {
    width:100%;
}